{
font-family:arial, sans-serif;
background:#f5f5f5;
}
.container{
width:90%;
max-width:500px;
margin:auto;
background
padding:20px;
}
h2{
color:white;
background:#5a3df0;
padding:15px;
}
input{
width:100%;
padding:12px;
margin:10px 0;
box-sizing:border-box;
}
.row{
display:flex;
gap:10px;
}
.row input{
flex:|;
}
button{
padding:12px;
cursor:pointer;
}
.save-btn{
width:100%;
background:orange;
color:white;
border:none;
font-size:18ps;
}
.PRODUCTS{
	DISPLAY:FLEX;
	FLEX-WRAP:WRAP;
	JUSTIFY-CONTENT:CENTER;
	GAP:20PX;
}
.CARD{
	WIDTH:200PX;
}
IMG{
	MAX-WIDTH:100%;
	HEIGHT:AUTO;
}
@MEDIA (MAX-WIDTH: 768PX){
	.PRODUCTS{
		FLEX-DIRECTION:COLUMN;
		ALIGN-ITEMS:CENTER;
	}
	.CARD{
		WIDTH:90%;
	}
}	
